/* nav 通用样式 */

.component-nav {
  position: absolute;
  /* top: 0px; */
  width: 336px;
  height: 56px;
  background-image: url("/common/nav-bg.png");
  background-size: 336px 56px;
  position: relative;
}

.component-nav-noback {
  position: absolute;
  /* top: 0px; */
  width: 336px;
  height: 56px;
  position: relative;
}

.component-nav-title-text {
  position: absolute;
  color: #ffffff;
  width: 202px;
  left: 16px;
  top: 7px;
  font-size: 32px;
}


.component-nav-title-time {
  position: absolute;
  color: #ffffff;
  right: 16px;
  top: 7px;
  font-size: 32px;
  text-align: right;
}

