/* nav 通用样式 */

.component-nav {
    top: 0px;
    width: 324px;
    height: 51px;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
}

/* .component-nav-button {
    width: 72px;
    height: 72px;
    opacity: 1;
    border-radius: 36px;
    background-color: rgba(38, 38, 38, 0.8);
    border: 3px solid rgba(255, 255, 255, 0.06);

    justify-content: center;
    align-items: center;
}

.component-nav-back {
    width: 44px;
    height: 44px;
    opacity: 1;
}

.component-nav-title {
    width: 182px;
    height: 72px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.component-nav-title-time {
    position: absolute; 
    color: #FFFFFF; 
    right: 8.5px;
    top: 3.5px;
    font-size: 33.55px;
    line-height: 44px;
}

.component-nav-title-text {
    position: absolute; 
    color: #FFFFFF; 
    left: 8.5px;
    top: 3.5px;
    font-size: 33.55px;
    line-height: 44px;
    vertical-align: middle;
}
/* 
.component-nav-infoIcon {
    padding: 13px;

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.component-nav-infoIconPoints {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
} */